*credentials
*.ipynb_checkpoints/
*.DS_Store
.idea/
.python-version
*.csv
app_easy_smr/
build/
easy_sm.egg-info/
misc/
*.whl
*.tar.gz
app_easy_smr.json
base-requirements.txt
*__pycache__/
easy_smr.egg-info/