*credentials
*.ipynb_checkpoints/
*.DS_Store
.idea/
.python-version
*.csv
easy_smr_app/
build/
easy_sm.egg-info/
misc/
*.whl
*.tar.gz
easy_smr_app.json
base-requirements.txt
*__pycache__/
easy_smr.egg-info/